
<div class="container" *ngIf="displayAdmin ">
<h4 class="mt-3">Cadastro de clientes</h4>
<hr>
<h5 class="classic text-center alert alert-danger" *ngIf="erro">{{erro}}</h5>
<h5 class="classic text-center alert alert-success" *ngIf="message">{{message}}</h5>
<div class="container-fluid ">
  <!--   <div class="col-6">
        
    </div> -->
    <form class="form-group" [formGroup]="formulario" (ngSubmit)="salvarCliente()">
        <div class="row">
          <div class="form-group col-6">
            <label for="Nome">Nome *</label>
            <input minlength="3" maxlength="100" required type="text" class="form-control" formControlName="nome"   placeholder="Ex: Seu Nome">               
          </div>

          <div class="form-group col-6">
            <label for="Cpf">Cpf *</label>
            <input type="text" class="form-control"  id="cpfCliente" formControlName="cpf" [textMask]="{mask: cpfMask}" placeholder="Insira seu cpf (somente números)">
          </div>
        </div>
        
            <h5>Endereço</h5>
          
                <div class="row">
                    <div class="form-group col-6">
                      <label for="Cep">Cep *</label>
                      <input  type="text" [textMask]="{mask: cepMask}" class="form-control"  id="endCliente" formControlName="cep" [ngModel]="endereco.cep"   (blur)="buscarEndereco($event.target.value)"  placeholder="Ex: 99.999-999">               
                    </div>
          
                    <div class="form-group col-6">
                      <label for="Logradouro">Logradouro *</label>
                      <input  type="text" class="form-control"  id="" formControlName="logradouro" [ngModel]="endereco.logradouro" placeholder="">
                    </div>
                  </div>                
              <div class="row">
                <div class="form-group col-6">
                  <label for="Complemento">Complemento</label>
                  <input   type="text" class="form-control"  id="" formControlName="complemento" [ngModel]="endereco.complemento" placeholder="">
                </div>  
                <div class="form-group col-6">
                  <label for="Bairo">Bairro *</label>
                  <input  type="text" class="form-control" id="" formControlName="bairro" [ngModel]="endereco.bairro"  placeholder="Bairro">
                </div>    
              </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="Cidade">Cidade *</label>
            <input  type="text" class="form-control" id="" formControlName="localidade" [ngModel]="endereco.localidade"  placeholder="">
          </div>  
          <div class="form-group col-6">
            <label for="Uf">Uf *</label>
            <input  type="text" class="form-control"  id="uf" formControlName="uf" [ngModel]="endereco.uf" placeholder="">
          </div>  
        </div>      
        <h5>Telefones</h5>
        <div class="row">
            <div class="form-group col-4">
              <label for="telefone">Tipo</label>
              <select class="custom-select" formControlName="tipoTel" >
                <option value="Residencial" >Residencial</option>
                <option value="Comercial" >Comercial</option>
                <option value="Celular">Celular</option>
              </select>
            </div>  
            <div class="form-group col-4">
              <label for="Uf">Número</label>
              <input  type="tel" class="form-control"  formControlName="numero" [textMask]="{mask: telMask}"  id="telefone" placeholder="">
            </div> 
            <div class="btn-group mt-4 form-group col-4 " style="padding-top: 8px;">
                <button class=" form-control btn btn-primary " type="button" (click)="addTelefone()">Adicionar</button>
                <!-- <button class=" form-control btn btn-danger " (click)="addTelefone()">-</button> -->
            </div>
            <div class="form-group col-8"*ngIf="telefones.length > 0">
              <table class="table table-triped">
                <tr>
                  <th>Tipo</th>
                  <th>Número</th>
                </tr>
                <tbody *ngFor="let item of telefones">
                  <td>{{item.tipo}}</td>
                  <td>{{item.numero}}</td>
                  <td><button class="btn btn-danger" type="button"  (click)="removeTelefone(item)">Excluir</button></td> 
                </tbody>
                
              </table>
            </div> 
          </div>      
        <h5>Emails</h5>
          <div class="row">
              <div class="col-8">
                <label for="Uf">Email</label>
                <input  type="text" class="form-control"  formControlName="email"  id="" placeholder="" email>
              </div>
              <div  class="mt-4 col-4 btn-group" style="padding-top: 8px;">
                <button class=" form-control btn btn-primary" type="button" (click)="addEmail()" >Adicionar</button>
                <!-- <button class=" form-control btn btn-danger" (click)="removeEmail()" >-</button> -->
            </div>

            <div class="form-group col-8" *ngIf="emails.length > 0">
              <table class="table table-triped">
                <tr>           
                  <th>Endereço de Email</th>
                </tr>
                <tbody *ngFor="let item of emails">
                  <td>{{item.endereco}}</td>
                  <td><button class="btn btn-danger"type="button" (click)="removeEmail(item)">Excluir</button></td>
                </tbody>
                
              </table>
            </div> 
          </div>
        <button class="mt-3 btn btn-primary" type="button" (click)="salvarCliente()">Salvar</button>
      </form>
</div>
</div>
